{% from "macros_navbar.html" import navbar %} {% from "macros_footer.html"
import footer %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <style>
      .disabled {
        pointer-events: none;
        background-color: #e9ecef;
      }
    </style>
  </head>
  <body>
    {{ navbar() }}
    <br />
    <br />
    <div class="container mt-5 pt-5">
      <h1 class="mb-4">Contact Us</h1>
      <form action="https://formspree.io/f/mbjbknlz" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="4"
            required
          ></textarea>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="anonymous"
            name="anonymous"
            onchange="toggleEmail()"
          />
          <label class="form-check-label" for="anonymous"
            >Send anonymously</label
          >
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script>
      function toggleEmail() {
        var emailInput = document.getElementById("email");
        var anonymousCheckbox = document.getElementById("anonymous");

        if (anonymousCheckbox.checked) {
          emailInput.value = "";
          emailInput.setAttribute("disabled", true);
          emailInput.classList.add("disabled");
        } else {
          emailInput.removeAttribute("disabled");
          emailInput.classList.remove("disabled");
        }
      }
    </script>
    <br />
    <br />
    {{footer()}}
  </body>
</html>
