{% macro navbar() %}
<div>
  <nav
    class="navbar navbar-expand-md h-5 py-1 fixed-top"
    style="background-color: #ffffff; border-bottom: 2px solid grey"
  >
    <a
      href="{{ url_for('index') }}
    "
      class="navbar-brand"
    >
      <img
        src="/static/images/iomplogo_one.jpg"
        alt=""
        style="height: 8vh; width: 12vw; padding-right: 10px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <br />
    <br />
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            href="{{ url_for('index') }}"
            class="nav-link pl-4 pr-4"
            style="color: #013220; font-weight: bold; font-size: 22px"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{{ url_for('about') }}"
            class="nav-link pl-4 pr-4"
            style="color: #013220; font-weight: bold; font-size: 22px"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{{ url_for('features') }}"
            class="nav-link pl-4 pr-4"
            style="color: #013220; font-weight: bold; font-size: 22px"
            >Programs</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{{ url_for('contact') }}"
            class="nav-link pl-4 pr-4"
            style="color: #013220; font-weight: bold; font-size: 22px"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endmacro %}
